<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.ruslansavvin.asia-stays-weekly-refresh</string>
    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>/Users/ruslansavvin/danang-apartments/weekly_refresh.sh</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>7</integer>
    </dict>
    <key>WorkingDirectory</key>
    <string>/Users/ruslansavvin/danang-apartments</string>
    <key>StandardOutPath</key>
    <string>/Users/ruslansavvin/danang-apartments/weekly_refresh.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/ruslansavvin/danang-apartments/weekly_refresh.log</string>
    <key>EnvironmentVariables</key>
    <dict>
        <key>PATH</key>
        <string>/usr/local/bin:/usr/bin:/bin:/Users/ruslansavvin/Library/Python/3.9/bin</string>
    </dict>
</dict>
</plist>
